{% extends "layouts/layout1.html" %}



{% block styles %}

<style>

  .case-page {
  transition: all 0.2s ease-in-out;
}
  
.case-section {
  margin-bottom: 20px;
}

.case-title {
  font-size: 13px;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 10px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.case-item {
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

.case-item b {
  display: block;
  font-size: 20px;
  color: #6c757d;
  margin-bottom: 2px;
}

.case-item div {
  font-size: 20px;
  font-weight: 500;
  color: #212529;
}

.case-empty {
  color: #adb5bd;
}



.info-box {
  background: #fff;
  border: 1px solid #eef0f2;
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.info-box b {
  font-size: 12px;
  color: #6c757d;
}

.info-box div {
  font-size: 14px;
  font-weight: 500;
}


</style>


{% endblock %}





{% block content %}

{% macro fmt(v) %}
  {% if v is none or v == '' %}
    —
  {% else %}
    {{ v }}
  {% endif %}
{% endmacro %}

<div id="msg-success" class="alert alert-success d-none mt-3">
  ✔ Saved successfully!
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
            src="{{ url_for('static', filename='dist/img/avatar4.png')}}">
          </div>
          <h3 class="profile-username text-center" id="view-fullname">
            {{ person.FNAME }} {{ person.MNAME }} {{ person.LNAME }}
          </h3>
          <p class="text-muted text-center">Alias: <span id="view-ANAME">{{ person.ANAME }}</span></p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Case Number</b>
              <a class="float-right">{{ case.CASENUM }}</a>
            </li>
            <li class="list-group-item">
              <b>Status</b>
              <a class="float-right" id="view-PSTATUS">{{ person.PSTATUS }}</a>
            </li>

            <li class="list-group-item">
              <b>Date FILED</b>
              <a class="float-right" id="view-PSTATUS">{{ case.DTFILED }}</a>
            </li>
          </ul>
          <button id="btn-edit" class="btn btn-primary btn-block">
            <b>UPDATE</b>
          </button>
        </div>
      </div>
      
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Summary</h3>
        </div>
        <div class="card-body">
          <strong>Address</strong>
          <p id="view-ADDRESS1">{{ person.ADDRESS1 }}</p>
          <hr>
          <strong>Case Title</strong>
          <p>{{ case.CASETITLE }}</p>
          <hr>
          <strong>Nature</strong>
          <p>{{ case.NATUREREM }}</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-9">
 


<div class="card">

  <!-- ================= HEADER ================= -->
  <div class="card-header p-2">
    <ul class="nav nav-pills">

      <li class="nav-item">
        <a class="nav-link active" href="#timeline" data-toggle="tab">
          II - ARRAIGNMENT AND PRE-TRIAL
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#mediation" data-toggle="tab">
         III - MEDIATION
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#prosecution" data-toggle="tab">
          IV - PROSECUTION EVIDENCE
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#defense" data-toggle="tab">
         V - DEFENSE EVIDENCE
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#decision" data-toggle="tab">
          VI - DECISION
        </a>
      </li>

    </ul>
  </div>

  <!-- ================= BODY ================= -->
  <div class="card-body">
 

<div class="tab-content">

  <!-- ================= ARRAIGNMENT ================= -->
  <div class="tab-pane fade show active" id="timeline">




    <div class="case-section">
      <div class="case-title"></div>




<!-- NAVIGATION -->
<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a class="nav-link active" data-page="1" href="#">Detention</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-page="2" href="#">Arraignment Proper</a>
  </li>

</ul>

<!-- PAGE 1 -->
<div class="case-page" id="page-1">
<div class="row">
        <!-- Detention -->
        <div class="col-md-4"><div class="case-item"><b>Date of Detention</b><div name="DTDETAINED">{{ fmt(party.DTDETAINED) }}</div></div></div>
        <div class="col-md-4"><div class="case-item"><b>Date of Arrest</b><div name="DTARREST">{{ fmt(party.DTARREST) }}</div></div></div>
        <div class="col-md-4"><div class="case-item"><b>Date of Voluntary Surrender</b><div name="DTSURRENDR">{{ fmt(party.DTSURRENDR) }}</div></div></div>

        <!-- Bail -->
        <div class="col-md-4"><div class="case-item"><b>Date of Bail or Order of Bail</b><div name="DTBAIL">{{ fmt(party.DTBAIL) }}</div></div></div>
        <div class="col-md-8"><div class="case-item"><b>Place of Detention</b><div name="BAILREM">{{ fmt(party.BAILREM) }}</div></div></div>

        <!-- Release -->
        <div class="col-md-4"><div class="case-item"><b>Date of Order of Released</b><div name="DTRELEASED">{{ fmt(party.DTRELEASED) }}</div></div></div>
        <div class="col-md-8"><div class="case-item"><b>Reason for Release</b><div name="RELEASED">


          <div name="RELEASED">
            {% set val = party.RELEASED|string %}

            {% if val == "20001" or not val %}
            —
            {% else %}
            {% set found = rfrs | selectattr('CODEID', 'equalto', val) | list %}

            {% if found %}
            {{ found[0].DESCRP }}
            {% else %}
            —
            {% endif %}
            {% endif %}
          </div>

        </div></div></div>

</div>
</div>

<!-- PAGE 2 -->
<div class="case-page d-none" id="page-2">

<div class="row">
        <div class="col-md-6"><div class="case-item"><b>Date Initial Setting</b><div name="DTIARRAIGN">{{ fmt(party.DTIARRAIGN) }}</div></div></div>
        <div class="col-md-6"></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Arraignment</b><div name="DTARRAIGN">{{ fmt(party.DTARRAIGN) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Pre-Trial</b><div name="DTPRETRIAL">{{ fmt(party.DTPRETRIAL) }}</div></div></div>

        <!-- Plea -->
        <div class="col-md-6"><div class="case-item"><b>Plea</b>


     


         <div name="PLEA">
              {% if party.PLEA == 1 %}
                Guilty
              {% elif party.PLEA == 2 %}
                Not Guilty
              {% else %}
                —
              {% endif %}
            </div>





        </div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Plea Bargaining</b><div name="DTPLEA">{{ fmt(party.DTPLEA) }}</div></div></div>

        <!-- Sentence -->
        <div class="col-md-6"><div class="case-item"><b>Date of Promulgation Sentence</b><div name="DTSENTENCE">{{ fmt(party.DTSENTENCE) }}</div></div></div>

        <!-- Archive -->
        <div class="col-md-6"><div class="case-item"><b>Date Archived</b><div name="DTARCHIVED">{{ fmt(party.DTARCHIVED) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date Revived</b><div name="DTREVIVED">{{ fmt(party.DTREVIVED) }}</div></div></div>

</div>
        

</div>















    </div>

  </div>

  <!-- ================= MEDIATION ================= -->
  <div class="tab-pane fade" id="mediation">

    <div class="case-section">
      <div class="case-title"></div>
      <div class="row">

        <div class="col-md-4"><div class="case-item"><b>Date of Referred to the PMC UNIT</b><div name="DTREFERRED">{{ fmt(party.DTREFERRED) }}</div></div></div>
        <div class="col-md-4"><div class="case-item"><b>Date Returned to Court</b><div name="DTRETURNED">{{ fmt(party.DTRETURNED) }}</div></div></div>

        <div class="col-md-4">
          <div class="case-item">
            <b>Mediation Status</b>
            <div name="MEDIATION">
              {% if party.MEDIATION == 'S' %}
                SUCCESS
              {% elif party.MEDIATION == 'F' %}
                FAILED
              {% else %}
                —
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- ================= PROSECUTION ================= -->
  <div class="tab-pane fade" id="prosecution">

    <div class="case-section">
      <div class="case-title"></div>
      <div class="row">

        <div class="col-md-6"><div class="case-item"><b>Date of Settings for Prosecution</b><div name="DTSETTING">{{ fmt(party.DTSETTING) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Actual Initial Trial</b><div name="DTINITIAL">{{ fmt(party.DTINITIAL) }}</div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Last Trial</b><div name="DTLAST">{{ fmt(party.DTLAST) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Number of Postponements</b><div name="PPOSTPONED">{{ fmt(party.PPOSTPONED) }}</div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Motion for Leave to File Demurrer to Evidence</b><div name="DTDEMURRER">{{ fmt(party.DTDEMURRER) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Formal Offer of Evidence or Prosecution</b><div name="DTOFFERPRO">{{ fmt(party.DTOFFERPRO) }}</div></div></div>

      </div>
    </div>

  </div>

  <!-- ================= DEFENSE ================= -->
  <div class="tab-pane fade" id="defense">

    <div class="case-section">
      <div class="case-title"></div>
      <div class="row">

        <div class="col-md-6"><div class="case-item"><b>Date of Settings for Defense</b><div name="DTDEFENSE">{{ fmt(party.DTDEFENSE) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Actual Initial Trial</b><div name="DTACTUAL">{{ fmt(party.DTACTUAL) }}</div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Last Trial</b><div name="DTLTTRIAL">{{ fmt(party.DTLTTRIAL) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Number of Postponements</b><div name="DPOSTPONED">{{ fmt(party.DPOSTPONED) }}</div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Formal Offer of Evidence of Defense</b><div name="DTOFFERDEF">{{ fmt(party.DTOFFERDEF) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Date of Presentation of Last Rebuttal Evidence</b><div name="DTREBUTTAL">{{ fmt(party.DTREBUTTAL) }}</div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Date of Presentation of Last Surrebuttal Evidence</b><div name="DTSURREBUT">{{ fmt(party.DTSURREBUT) }}</div></div></div>

      </div>
    </div>

  </div>

  <!-- ================= DECISION ================= -->
  <div class="tab-pane fade" id="decision">

    <div class="case-section">
      <div class="case-title"></div>
      <div class="row">

        <div class="col-md-4"><div class="case-item"><b>Date Case is Submitted for Decision</b><div name="DTSUBMIT">{{ fmt(party.DTSUBMIT) }}</div></div></div>
        <div class="col-md-4"><div class="case-item"><b>Actual date of Promulgation</b><div name="DTPROMUL">{{ fmt(party.DTPROMUL) }}</div></div></div>
        <div class="col-md-4"><div class="case-item"><b>Decision Code</b><div name="DECIDECODE">

  {% set val = party.DECIDECODE|string %}

  {% if val == "90001" or not val %}
    —
  {% else %}
    {% set found = decisions | selectattr('CODEID', 'equalto', val) | list %}
    
    {% if found %}
      {{ found[0].DESCRP }}
    {% else %}
      —
    {% endif %}
  {% endif %}





        </div></div></div>

        <div class="col-md-6"><div class="case-item"><b>Penalty</b><div name="PENALTY">{{ fmt(party.PENALTY) }}</div></div></div>
        <div class="col-md-6"><div class="case-item"><b>Remarks</b><div name="REMARKS">{{ fmt(party.REMARKS) }}</div></div></div>

      </div>
    </div>

  </div>

</div>

</div>








    </div>
  </div>
</div>

<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Update Person Details</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <form id="modal-form">
          <input type="hidden" name="PERSONID" value="{{ person.PERSONID }}">
          
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#m-accused">I. Accused Information</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#m-arraignment">II. ARRAIGNMENT AND PRE-TRIAL</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#m-mediation">III. MEDIATION</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#m-prosecution">IV. PRESENTATION OF PROSECUTION EVIDENCE</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#m-defense">V. PRESENTATION OF DEFENSE EVIDENCE</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#m-decision">VI. DECISION AND PROMULGATION</a></li>
          </ul>
          <div class="tab-content pt-3">

            <div class="tab-pane fade show active" id="m-accused">
              <div class="row">
                <div class="form-group col-md-4">
                  <label>First Name</label>
                  <input name="FNAME" class="form-control" value="{{ person.FNAME }}">
                </div>
                <div class="form-group col-md-4">
                  <label>Middle Name</label>
                  <input name="MNAME" class="form-control" value="{{ person.MNAME }}">
                </div>
                <div class="form-group col-md-4">
                  <label>Last Name</label>
                  <input name="LNAME" class="form-control" value="{{ person.LNAME }}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Alias</label>
                  <input name="ANAME" class="form-control" value="{{ person.ANAME }}">
                </div>
                <div class=" form-group col-md-4">
                  <label>Gender</label>
                  <select name="GENDER" class="form-control">
                    <option value="M" {% if person.GENDER=='M' %}selected{% endif %}>Male</option>
                    <option value="F" {% if person.GENDER=='F' %}selected{% endif %}>Female</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label>Contact Number</label>
                  <input name="TELNO" class="form-control" value="{{ person.TELNO }}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Date of Birth</label>
                  <input type="date" name="DBIRTH" class="form-control" value="{{ person.DBIRTH }}">
                </div>
                <div class="form-group col-md-4">
                  <label>Age in Commission of Crime</label>
                  <input type="number" name="AGECOMIT" class="form-control" value="{{ party.AGECOMIT }}">
                </div>
                <div class=" form-group col-md-4">
                  <label>Status</label>
                  <select name="PSTATUS" class="form-control">
                    {% for n in pStatus %}
                    <option value="{{ n }}" {% if n == person.PSTATUS %}selected{% endif %}>
                      {{ n }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea name="ADDRESS1" class="form-control"   rows="4" style="resize:none;"> {{ person.ADDRESS1 }}</textarea>
              </div>
            </div>
            
            <div class="tab-pane fade" id="m-arraignment">
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Date of Detention</label>
                  <input name="DTDETAINED" type="date" class="form-control" value="{{ party.DTDETAINED }}">
                </div>
                <div class="form-group col-md-4">
                  <label>Date of Arrest</label>
                  <input name="DTARREST" type="date" class="form-control" value="{{ party.DTARREST }}">
                </div>
                <div class="form-group col-md-4">
                  <label>Date of Voluntary Surrender</label>
                  <input name="DTSURRENDR" type="date" class="form-control" value="{{ party.DTSURRENDR }}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Date of Bail or Order of Bail</label>
                  <input name="DTBAIL" type="date" class="form-control" value="{{ party.DTBAIL }}">
                </div>
                <div class="form-group col-md-8">
                  <label>Place of Detention</label>
                  <input type="text" class="form-control" name="BAILREM" value="{{ party.BAILREM }}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Date of Order of Released</label>
                  <input name="DTRELEASED" type="date" class="form-control" value="{{ party.DTRELEASED }}">
                </div>
                <div class="form-group col-md-8">
                  <label>Reason for Release</label>
                  <select name="RELEASED" class="form-control"></select>
              </div>   
            </div>
            <hr>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Date Initial Setting</label>
                <input name="DTIARRAIGN" type="date" class="form-control" value="{{ party.DTIARRAIGN }}">
              </div>
              <div class="form-group col-md-6"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Date of Arraignment</label>
                <input name="DTARRAIGN" type="date" class="form-control" value="{{ party.DTARRAIGN }}">
              </div>
              <div class="form-group col-md-6">
                <label>Date of Pre-Trial</label>
                <input name="DTPRETRIAL" type="date" class="form-control" value="{{ party.DTPRETRIAL }}">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>PLEA</label>
            

            <select name="PLEA" class="form-control">
            
            </select>




              </div>
              <div class="form-group col-md-6">
                <label>Date of Plea Bargaining, if Any</label>
                <input name="DTPLEA" type="date" class="form-control" value="{{ party.DTPLEA }}">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Date of Promulgation Sentence</label>
                <input name="DTSENTENCE" type="date" class="form-control" value="{{ party.DTSENTENCE }}">
              </div>
              <div class="form-group col-md-6"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Date Achived</label>
                <input name="DTARCHIVED" type="date" class="form-control" value="{{ party.DTARCHIVED }}">
              </div>
              <div class="form-group col-md-6">
                <label>Date Revived</label>
                <input name="DTREVIVED" type="date" class="form-control" value="{{ party.DTREVIVED }}">
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="m-mediation">
            <div class="form-group col-md-4">
              <label>Date of Referred to the PMC UNIT</label>
              <input type="date" name="DTREFERRED" class="form-control" value="{{ party.DTREFERRED }}">
            </div>
            <div class="form-group col-md-4">
              <label>Date Returned to Court</label>
              <input type="date" name="DTRETURNED" class="form-control" value="{{ party.DTRETURNED }}">
            </div>
            <div class="form-group col-md-4">
              <label>Mediation Status</label>
              <select name="MEDIATION" class="form-control">
                <option value=""></option>
                <option value="S" {% if party.MEDIATION=='S' %}selected{% endif %}>SUCCESS</option>
                <option value="F" {% if party.MEDIATION=='F' %}selected{% endif %}>FAILED</option>
              </select>
            </div>
          </div>

          <div class="tab-pane fade" id="m-prosecution">
            <div class="row">

              <div class="form-group col-md-6">
                <label>Date of Settings for Prosecution</label>
                <input type="text" class="form-control"
                name="DTSETTING" value="{{ party.DTSETTING }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Actual Initial Trial</label>
                <input type="date" class="form-control"
                name="DTINITIAL" value="{{ party.DTINITIAL }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Last Trial</label>
                <input type="date" class="form-control"
                name="DTLAST" value="{{ party.DTLAST }}">
              </div>

              <div class="form-group col-md-6">
                <label>Number of Postponements</label>
                <input type="number" class="form-control"
                name="PPOSTPONED" value="{{ party.PPOSTPONED }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Motion for Leave to File Demurrer to Evidence</label>
                <input type="date" class="form-control"
                name="DTDEMURRER" value="{{ party.DTDEMURRER }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Formal Offer of Evidence or Prosecution</label>
                <input type="date" class="form-control"
                name="DTOFFERPRO" value="{{ party.DTOFFERPRO }}">
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="m-defense">
            <div class="row">

              <div class="form-group col-md-6">
                <label>Date of Settings for Defense</label>
                <input type="text" class="form-control"
                name="DTDEFENSE" value="{{ party.DTDEFENSE }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Actual Initial Trial</label>
                <input type="date" class="form-control"
                name="DTACTUAL" value="{{ party.DTACTUAL }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Last Trial</label>
                <input type="date" class="form-control"
                name="DTLTTRIAL" value="{{ party.DTLTTRIAL }}">
              </div>

              <div class="form-group col-md-6">
                <label>Number of Postponements</label>
                <input type="number" class="form-control"
                name="DPOSTPONED" value="{{ party.DPOSTPONED }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Formal Offer of Evidence of Defense</label>
                <input type="date" class="form-control"
                name="DTOFFERDEF" value="{{ party.DTOFFERDEF }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Presentation of Last Surrebuttal Evidence</label>
                <input type="date" class="form-control"
                name="DTREBUTTAL" value="{{ party.DTREBUTTAL }}">
              </div>

              <div class="form-group col-md-6">
                <label>Date of Presentation of Last Surrebuttal Evidence</label>
                <input type="date" class="form-control"
                name="DTSURREBUT" value="{{ party.DTSURREBUT }}">
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="m-decision">
            <div class="row">

              <div class="form-group col-md-4">
                <label>Date Case is Submitted for Decision</label>
                <input type="date" class="form-control"
                name="DTSUBMIT" value="{{ party.DTSUBMIT }}">
              </div>

              <div class="form-group col-md-4">
                <label>Actual date of Promulgation</label>
                <input type="date" class="form-control"
                name="DTPROMUL" value="{{ party.DTPROMUL }}">
              </div>

              <div class="form-group col-md-4">
                <label>Decision Code</label>

                <select name="DECIDECODE" class="form-control"></select>
            </div>

            <div class="form-group col-md-6">
              <label>Penalty</label>
              <textarea class="form-control"
              name="PENALTY"
              rows="3"
              style="resize:none;">{{ party.PENALTY }}</textarea>
            </div>

            <div class="form-group col-md-6">
              <label>Remarks</label>
              <textarea class="form-control"
              name="REMARKS"
              rows="3"
              style="resize:none;">{{ party.REMARKS }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button id="modal-save" class="btn btn-success">Save</button>
    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
</div>
</div>
</div>


{% endblock %}
{% block scripts %}
<script>
$(function () {


  // SAVE
  $("#modal-save").click(function (e) {
    e.preventDefault();

    let formData = $("#modal-form").serialize();

    $.ajax({
      url: "/cc/update-person/" + $("input[name='PERSONID']").val(),
      type: "POST",
      data: formData,

      success: function (res) {

        // ✅ SUCCESS CASE
        if (res.status === "success") {

          $("#editModal").modal("hide");

          let data = res.data;

          // BASIC INFO
          $("#view-fullname").text(
            data.FNAME + " " + data.MNAME + " " + data.LNAME
          );
          $("#view-ANAME").text(data.ANAME);
          $("#view-PSTATUS").text(
          $("select[name='PSTATUS'] option:selected").text() || "—"
        );
          $("#view-ADDRESS1").text(data.ADDRESS1);

          // ALL FIELDS
          let fields = [
            "DTDETAINED","DTARREST","DTSURRENDR","DTBAIL","BAILREM",
            "DTRELEASED","RELEASED",
            "DTIARRAIGN","DTARRAIGN","DTPRETRIAL",
            "PLEA","DTPLEA","DTSENTENCE",
            "DTARCHIVED","DTREVIVED",
            "DTREFERRED","DTRETURNED","MEDIATION",
            "DTSETTING","DTINITIAL","DTLAST","PPOSTPONED","DTDEMURRER","DTOFFERPRO",
            "DTDEFENSE","DTACTUAL","DTLTTRIAL","DPOSTPONED","DTOFFERDEF","DTREBUTTAL","DTSURREBUT",
            "DTSUBMIT","DTPROMUL","DECIDECODE","PENALTY","REMARKS"
          ];

          fields.forEach(f => {
            let val = data[f];

            if (f === "MEDIATION") {
              val = val === "S" ? "SUCCESS" : val === "F" ? "FAILED" : "—";
            } 


          else if (f === "RELEASED") {

            if (val == "20001" || val === "" || val === null || val === undefined) {
              val = "—";
            } else {
              val = $('select[name="RELEASED"] option')
                .filter(function () {
                  return $(this).val() == val;
                })
                .text() || "—";
            }

          }

            else if (f === "PLEA") {
  val = val == 1 ? "Guilty" : val == 2 ? "Not Guilty" : "—";
}

else if (f === "DECIDECODE") {
  val = val == "90002" ? "DECIDED" : val == "90003" ? "DISMISSED" : "—";
}





  else {
              val = (val === null || val === "" || val === undefined) ? "—" : val;
            }

            $('[name="' + f + '"]').text(val);
          });

          // ✅ SUCCESS TOAST
          Toast.fire({
            icon: 'success',
            title: 'Record updated successfully'
          });

        } 
        // ❌ FAIL CASE (backend returned success=false or error status)
        else {

          Toast.fire({
            icon: 'error',
            title: res.message || 'Update failed'
          });

        }
      },

      // ❌ NETWORK / SERVER ERROR
      error: function () {

        Toast.fire({
          icon: 'error',
          title: 'Server error occurred'
        });

      }
    });

  });

});
</script>



<script>
$("#btn-edit").click(function () {

  let personId = $("input[name='PERSONID']").val();

  $.ajax({
    url: "/cc/get-option/" + personId,
    type: "GET",
    dataType: "json",

    success: function (res) {

      let select = $("select[name='RELEASED']");
      select.empty();
      // build options
      res.rfrs.forEach(function (item) {
        select.append(
          `<option value="${item.CODEID}">
            ${item.DESCRP}
          </option>`
        );
      });

      // ✅ PRE-SELECT VALUE (THIS IS THE KEY)
      select.val(res.party.RELEASED);


        let selectD = $("select[name='DECIDECODE']");
        selectD.empty();

        res.decisions.forEach(function (item) {
          selectD.append(
            `<option value="${item.CODEID}">
              ${item.DESCRP || '—'}
            </option>`
          );
        });

        // preselect
        selectD.val(res.party.DECIDECODE);


                let selecto = $("select[name='PLEA']");
        selecto.empty();

        res.pleo.forEach(function (item) {
          selecto.append(
            `<option value="${item.CODEID}">
              ${item.DESCRP || '—'}
            </option>`
          );
        });

        // preselect
        selecto.val(res.party.PLEA);





      // open modal AFTER everything is ready
      $("#editModal").modal("show");


      console.log(res.party.RELEASED);

    },

    error: function () {
      Toast.fire({
        icon: "error",
        title: "Failed to load options"
      });
    }

  });

});
</script>

<script>
  
  $(".nav-link[data-page]").click(function (e) {
  e.preventDefault();

  let page = $(this).data("page");

  // hide all pages
  $(".case-page").addClass("d-none");

  // show selected page
  $("#page-" + page).removeClass("d-none");

  // active class
  $(".nav-link").removeClass("active");
  $(this).addClass("active");
});
</script>
{% endblock %}